<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>anhln.servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>anhln.servlet.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>anhln.servlet.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerItemController</servlet-name>
        <servlet-class>anhln.servlet.ManagerItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaggingServlet</servlet-name>
        <servlet-class>anhln.servlet.PaggingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerActionCus</servlet-name>
        <servlet-class>anhln.servlet.ManagerActionCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>anhln.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductBySearchController</servlet-name>
        <servlet-class>anhln.servlet.DeleteProductBySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductBySearchController</servlet-name>
        <servlet-class>anhln.servlet.UpdateProductBySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>anhln.servlet.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>anhln.servlet.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>anhln.servlet.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>anhln.servlet.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartBySearchController</servlet-name>
        <servlet-class>anhln.servlet.AddtoCartBySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartBySearchController</servlet-name>
        <servlet-class>anhln.servlet.UpdateCartBySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartBySearchController</servlet-name>
        <servlet-class>anhln.servlet.DeleteCartBySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>anhln.servlet.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>anhln.servlet.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPayController</servlet-name>
        <servlet-class>anhln.servlet.ViewPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToMainPageController</servlet-name>
        <servlet-class>anhln.servlet.BackToMainPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayController</servlet-name>
        <servlet-class>anhln.servlet.PayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDTO</servlet-name>
        <servlet-class>anhln.dtos.HistoryDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>anhln.servlet.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>anhln.servlet.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailProduct</servlet-name>
        <servlet-class>anhln.servlet.ShowDetailProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerItemController</servlet-name>
        <url-pattern>/ManagerItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaggingServlet</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerActionCus</servlet-name>
        <url-pattern>/ManagerActionCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductBySearchController</servlet-name>
        <url-pattern>/DeleteProductBySearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductBySearchController</servlet-name>
        <url-pattern>/UpdateProductBySearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartBySearchController</servlet-name>
        <url-pattern>/AddtoCartBySearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartBySearchController</servlet-name>
        <url-pattern>/UpdateCartBySearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartBySearchController</servlet-name>
        <url-pattern>/DeleteCartBySearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPayController</servlet-name>
        <url-pattern>/ViewPayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToMainPageController</servlet-name>
        <url-pattern>/BackToMainPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayController</servlet-name>
        <url-pattern>/PayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDTO</servlet-name>
        <url-pattern>/HistoryDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailProduct</servlet-name>
        <url-pattern>/ShowDetailProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pass.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>log4j.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <resource-ref>
        <res-ref-name>SE140802</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
